<div class="container">
	<h2 class="title">Редактирование пользователя</h2>
	
	<% if @user.errors.any? %>
	<div class="mt">
	  <% @user.errors.full_messages.each do |message| %>
	    <p class="mb-sm text-red"><%= message %></p>
	  <% end %>
	</div><br> 
	<% end %>

	<div class="mt">
		<%= form_with model: @user, data: {turbo: false} do |form| %>

			<p><%= form.label :name, 'Имя' %></p>
			<p><%= form.text_field :name, class: 'form-text-field' %></p>

			<p class="mt"><%= form.label :nickname, 'Псевдоним' %></p>
			<p><%= form.text_field :nickname, class: 'form-text-field' %></p>

			<p class="mt"><%= form.label :password, 'Пароль' %></p>
			<p><%= form.password_field :password, class: 'form-text-field' %></p>
		
			<p class="mt"><%= form.label :password_confirmation, 'Подтвердите пароль' %></p>
			<p><%= form.password_field :password_confirmation, class: 'form-text-field' %></p>

			<p class="mt-sm text-sm text-hex">Важно! Если вы не хотите изменять пароль - оставьте эти поля пустыми.</p>
	
			<p class="mt-lg">
				<%= form.submit 'Сохранить', class: 'button button-main' %>
		
				<span class="text-sm"> или </span><%= link_to "вернуться", :back %>
			</p>
		<% end %> 
	</div>

	<div class="mt-lg">
		<%= button_to "Удалить профиль", user_path(@user), method: :delete,
		form: {data: {turbo_confirm: "Вы хотите удалить свой профиль?"}}, class:'text-red text-sm' %>

	</div>
	
	</div>
</div>  